@import 'tailwindcss';

@theme {
  --font-mono:
    ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Consolas, 'Liberation Mono', monospace;
}

html {
  color-scheme: dark;
  --filter-bar-h: 0px;
}

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-zinc-950 text-zinc-200 font-mono antialiased;
}

::selection {
  @apply bg-orange-500/30 text-zinc-50;
}

a {
  @apply hover:underline;
}
